<div class="input-group form-group mb-2">
	<div class="input-group-prepend">
		<label class="input-group-text bg-primary text-light" for="{{ id }}">{{ id }}</label>
		<label class="input-group-text" for="{{ id }}">{{ text }}</label>
	</div>
	{% with reversed_color_class = "reversed-color" if reversed_color else "" %}
	<select onchange="changeColor(this)" class="custom-select {{ reversed_color_class }}" id="{{ id }}">
	{% endwith %}
		{% with labels = ["Очень низкий", "Низкий", "Номинальный", "Высокий", "Очень высокий"] %}
			{% for option_value in option_values %}
				{% if option_value > 0 %}
					{% with selected = "selected" if option_value == 1 else "" %}
						<option value="{{ option_value }}" {{ selected }}>{{ labels[loop.index0] }}</option>
					{% endwith %}
				{% endif %}
			{% endfor %}
		{% endwith %}
	</select>
</div>